body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
    font-size: 2.5em;
}


.controls {
    text-align: center;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


select, button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    outline: none;
}

select {
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


#mapid {
    height: 400px;
    width: 100%;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


#info {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    color: #333;
}

#info h3 {
    color: #4CAF50;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#info p {
    margin: 8px 0;
    line-height: 1.6;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #cccccc;
}
.regresar-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 1000;
}

.regresar-btn:hover {
    background-color: #45a049;
}
.encuesta-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 1000; 
}

.encuesta-btn:hover {
    background-color: #007B8F;
}
